{% extends "base.html" %}
{% load static %}


{% block content %}
<style>
    
</style>
<section class="ftco-section" style="margin-top:200px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <body class="fon">
                    <table border="1" style="border-radius: 20px;  width: 1340px; height: 610px;" class="border">
                          <tr style="height: 25px; color: blue; background-color: rgb(0, 0, 0);">
                            <th class="num">№</th>
                           <th class="juma">Дүйшөмбү</th>
                           <th class="juma">Шейшемби </th>
                           <th class="juma">Шаршемби</th>
                           <th class="juma">Бейшемби</th>
                           <th class="juma">Жума</th>
                           <th class="juma">Ишемби</th>
                         </tr>
                        <tr>
                            <td class="num">1</td>
                            <td  class="tabli"><a href="https://www.youtube.com/watch?v=j9zVS4-1rOk"> <img src="Math.com.png" alt="" class="img"></a>Математика </td>
                            <td  class="tabli"><a href="https://www.youtube.com/watch?v=5P3ANkH-F1U"> <img src="k.t.jpg" alt="" class="img"></a>К.Тили</td>
                            <td  class="tabli"><a href="https://www.youtube.com/watch?v=m18josRkNEw"> <img src="Р.Т.jpg" alt="" class="img"></a>О.Тили</td>
                            <td  class="tabli"><a href="https://www.youtube.com/watch?v=XTA3vY6GYGo"> <img src="ИСлам.png" alt="" class="img"></a>Ислам таануу</td>
                            <td  class="tabli"><a href="https://www.youtube.com/watch?v=BAyvS7tHD-0"> <img src="Math.com.png" alt="" class="img"></a>Химия</td>
                            <td  class="tabli"><a href="https://www.youtube.com/watch?v=2JGbRnJfG0g&list=PL1Us50cZo25nsoM_r05Jcx5VX5uKF1seU"><img src="Phicik.png" alt="" class="img"></a>Физика</td>
                        </tr>
                        <tr>
                            <td class="num">2</td>
                            <td  class="tabli"><a href="https://www.youtube.com/watch?v=5P3ANkH-F1U"><img src="k.t.jpg" alt="" class="img"></a>  К.Тили </td>
                            <td  class="tabli"><a href="https://www.youtube.com/watch?v=XTA3vY6GYGo"><img src="ИСлам.png" alt="" class="img"></a>Математика</td>
                            <td  class="tabli"><a href="https://www.youtube.com/watch?v=m18josRkNEw"><img src="Р.Т.jpg" alt="" class="img"></a> О.Тили</td>
                            <td  class="tabli"><a href="https://www.youtube.com/watch?v=XTA3vY6GYGo"><img src="ИСлам.png" alt="" class="img"></a> Ислам таануу</td>
                            <td  class="tabli"><a href="https://www.youtube.com/watch?v=j9zVS4-1rOk"><img src="Math.com.png" alt="" class="img"></a> Физика</td>
                            <td class="tabli"><a href="https://www.youtube.com/watch?v=j9zVS4-1rOk"><img src="Phicik.png" alt="" class="img"></a> Физика</td>
                        </tr>
                        <tr>
                            <td class="num">3</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=XTA3vY6GYGo"><img src="ИСлам.png" alt="" class="img"></a>Д.Тарых</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=5P3ANkH-F1U"><img src="k.t.jpg" alt="" class="img"></a>К.Тили</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=XTA3vY6GYGo"><img src="ИСлам.png" alt="" class="img"></a>Химия</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=XTA3vY6GYGo"><img src="ИСлам.png" alt="" class="img"></a>Ислам таануу</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=BAyvS7tHD-0"><img src="Math.com.png" alt="" class="img"></a>Биология</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=2JGbRnJfG0g&list=PL1Us50cZo25nsoM_r05Jcx5VX5uKF1seU"><img src="Phicik.png" alt="" class="img"></a>    Физика</td>
                        </tr>
                        <tr>
                            <td class="num">4</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=j9zVS4-1rOk"><img src="Math.com.png" alt="" class="img"></a>Математика</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=BAyvS7tHD-0"><img src="Math.com.png" alt="" class="img"></a>Биология</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=m18josRkNEw"><img src="Р.Т.jpg" alt="" class="img"></a>О.Тили</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=XTA3vY6GYGo"> <img src="ИСлам.png" alt="" class="img"></a>Ислам таануу</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=5P3ANkH-F1U"> <img src="k.t.jpg" alt="" class="img"></a>К.Тили</td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=2JGbRnJfG0g&list=PL1Us50cZo25nsoM_r05Jcx5VX5uKF1seU"><img src="Phicik.png" alt="" class="img"></a>Химия</td>
                        </tr>
                        <tr>
                            <td class="num"> 5</td>
                            <td class="tabli"> <a href=" https://www.youtube.com/watch?v=ccwlunyWnPo&list=PLoe4L7cYJo_WFiJs6BqpJ6zuYMjnB_vLe"><img src="химия.png" alt="" class="img"></a>Т.Саат </td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=XTA3vY6GYGo"><img src="ИСлам.png" alt="" class="img"></a>Ислам таануу</td>
                            <td class="tabli">  <a href="https://www.youtube.com/watch?v=m18josRkNEw"><img src="Р.Т.jpg" alt="" class="img"></a>О.Тили </td>
                            <td class="tabli"> <a href="https://www.youtube.com/watch?v=5P3ANkH-F1U"> <img src="k.t.jpg" alt="" class="img"></a>К.Тили </td>
                            <td class="tabli">  <a href="https://www.youtube.com/watch?v=BAyvS7tHD-0"> <img src="Math.com.png" alt="" class="img"></a>Тарых</td>
                            <td class="tabli">  <a href="https://www.youtube.com/watch?v=2JGbRnJfG0g&list=PL1Us50cZo25nsoM_r05Jcx5VX5uKF1seU"> <img src="Phicik.png" alt="" class="img"></a>Тарых</td>
                        </tr>
                    </table>
                    <br>
                </body>
            </div>
        </div>
    </div>
</section>

{% endblock %}